<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Catalog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/catalog.css}"/>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li class="active"><a href="/customer/catalog">Catalog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=/customer/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>


    <div class="header">
        <div class="container text-center">
            <h1>Catalog</h1>
        </div>
    </div>


    <div id="catalog_items">
<!--    TODO: Create a for loop to make these items off the database-->

<!--        <span class="item_title">4oz Coca Cola</span>-->
        <div class="item">
            <img src="coke.png" alt="Coca Cola" class="item_image">
            <form class="add_to_cart_button2" method="post" action="/customer/catalog/189">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
<!--        <span class="item_title">Turkey Sandwich</span>-->
        <div class="item">
            <img src="sandwich.png" alt="Sandwich" class="item_image">
            <form class="add_to_cart_button2" method="post" action="/customer/catalog/2109">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
<!--        <span class="item_title">Manilla Wafers</span>-->
        <div class="item">
            <img src="wafers.png" alt="Wafers" class="item_image">
            <form class="add_to_cart_button2" method="post" action="/customer/catalog/15">
                <button type="submit">Add to Cart</button>
            </form>
        </div>

    </div>

    <div id="address_bar">
        <button> <a href="/">Back to Index</a> </button>
        <button> <a href="/customer/cart">Cart</a> </button>
    </div>

</body>
</html>