<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager Stock View</title>
</head>
<body>

<section>
    <h3>Stock</h3>

    <table th:unless="$items.size() eq 0}">
           <thead>
               <tr>
                   <th></th>
                   <th></th>
                   <th>Barcode</th>
                   <th>Name</th>
                   <th>Quantity</th>
                   <th>Lower Quantity</th>
                   <th>Price</th>
               </tr>
           </thead>
            <tbody>
            <tr th:each="item : ${items}">
                <td><a th:href="@{'/manager/items/edit/' + ${item.barcode}}">Edit</a></td>
                <td><a th:href="@{'/manage/items/delete/' + ${item.barcode}}">Delete</a></td>
                <td><p th:text ="${item.barcode}"></p></td>
                <td><p th:text="${item.name}"></p></td>
                <td><p th:text="${item.quantity}"></p></td>
                <td><p th:text="${item.lQuantity}"></p></td>
                <td><p th:text="${item.price}"></p></td>
            </tr>
            </tbody>
    </table>

</section>
</body>
</html>