<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Add Item</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .header {
        margin-bottom: 0;
    }
</style>
<body>


<section>

    <div class="header">
        <div class="container text-center">
            <h1>Add an Item</h1>
        </div>
    </div>

<!--    <div th:if="${'errorMessage'}" th:text="${'errorMessage'}" style="color: #ff0000;">Invalid Entry</div>-->

    <form method="post" action="/manager/items/add">

        <div class="row">
            <div class="three columns">
                <label>Item Barcode</label>
            </div>
            <div class="nine columns">
                <input name ="itemBarcode" />
            </div>
        </div>

        <div class="row">
            <div class="three columns">
                <label>Name</label>
            </div>
            <div class="nine columns">
                <input name ="itemName" />
            </div>
        </div>

        <div class="row">
            <div class="three columns">
                <label>Quantity</label>
            </div>
            <div class="nine columns">
                <input name ="itemQuantity" />
            </div>
        </div>

        <div class="row">
            <div class="three columns">
                <label>Low Quantity</label>
            </div>
            <div class="nine columns">
                <input name ="itemLQuantity" />
            </div>
        </div>

        <div class="row">
            <div class="three columns">
                <label>Price</label>
            </div>
            <div class="nine columns">
                <input name ="itemPrice" />
            </div>
        </div>

        <div class="row">
            <div class="three columns">&nbsp;</div>
            <div class="nine columns">

            </div>
        </div>
        <button class="btn btn-default" type="submit">Submit</button>
    </form>
</section>
</body>
</html>