<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
    }

    .navbar {
        margin-bottom: 50px;
        border-radius: 0;
    }

    .header {
        margin-bottom: 0;
    }

</style>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/customer/catalog">Catalog</a></li>
                <li><a href="/customer/checkout">Checkout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class ="active"><a href="/customer/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>



    <div class="header">
        <div class="container text-center">
            <h1>Cart</h1>
        </div>
    </div>
<section>
    <br>
    <div align="center">
    <button type="button" class="btn btn-info btn-lg"> <a href="/customer/catalog">Back to Catalog</a> </button>
    <button type="button" class="btn btn-info btn-lg"> <a th:href="@{'/customer/cart/clear/'}">Clear Cart</a></button><br>
    <br>
    <!--    <table th:unless="${cart.size() eq 0}">-->

    <table>
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th></th>
            <th></th>
        </tr>
        </thead>


        <tbody>
        <tr th:each="cart : ${cart}">
            <td><p th:text="${cart.getName()}"></p></td>
            <td><p th:text="${cart.getQuantity()}"></p></td>
            <td><p th:text="${cart.dPrice()}"></p></td>
            <td><a th:href="@{'/customer/cart/edit/' + ${cart.getIndex()}}"><button>Edit</button></a></td>
            <td><a th:href="@{'/customer/cart/remove/' + ${cart.getIndex()}}"><button>Delete</button></a></td>
        </tr>
        </tbody>
    </table>



    <br>
        <button type="submit" class="btn btn-success btn-lg"> <a href="/customer/checkout">Checkout</a> </button>

    </div>
</section>
</body>
</html>