<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Catalog</title>
    <link rel="stylesheet" th:href="@{/css/catalog.css}"/>
</head>
<body>
    <h3>Catalog</h3>
    <button> <a href="/customer/cart">Cart</a> </button>
    <button> <a href="/">Back to Index</a> </button>
    <img src="https://us.coca-cola.com/content/dam/coke2016/43568-Home-updates-20200917/koz-20oz.png" alt="Coca Cola">
</body>
</html>