<!DOCTYPE html>
<html>
<head>
    <link rel = "stylesheet" type = "text/css" href = "Employee.css">
</head>
<body>
<table class = "table1">
    <tr>
        <th>Employee Name</th>
        <th>Employee ID</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    <tr>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
    </tr>
</table>

<table class = "table2">
    <tr>
        <th>Income</th>
        <th>Pay Rate</th>
        <th>Hours Worked</th>
        <th>Income</th>
        <th>YTD Income</th>
    </tr>
    <tr>
        <td>Regular Pay</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
    </tr>
    <tr>
        <td>Overtime Pay</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
    </tr>
    <tr>
        <td>Holiday Pay</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
        <td>test</td>
    </tr>
</table>

<table class = "table3">
    <tr>
        <th>Total YTD Income</th>
    </tr>
    <tr>
        <td>test</td>
    </tr>
</table>

<table class = "table4">
    <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        </td>
    </tr>
        <td>13</td>
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
        <td>19</td>
        </td>
</table>

<button class = "button1"> <a href = "/">Home</a></button>
</body>
</html>