<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Manager Stock View</title>
	<link rel="stylesheet" type="text/css" media="all"
		  href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>
<body>

<section>
	<h1>Index</h1>
	<h4>----------------------------------------------</h4>
	<h3>Login</h3>
	<form>
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username"><br>
		<label for="pass">Password:</label><br>
		<input type="password" id="pass" name="password">
		<input type="submit" value="Login">
	</form>
	<button> <a href="/manager/items/view">Stock View</a> </button>
	<button> <a href="/customer/catalog">Catalog</a> </button>

</section>
</body>
</html>