<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Item Info</title>
    <link rel="stylesheet" th:href="@{/css/itemInfo.css}"/>
</head>
<body>
<h3>Item Information</h3>
<!--form method="post" action="/customer/catalog/view"-->

<div id="itemInfo">

    <label>Price</label>
    <p th:text="${item.getPrice()}"></p>
    <label>Name</label>
    <p th:text="${item.getName()}"></p>
    <label>Image</label>
    <p><img id="itemImage" style="display: block" th:src="${item.imageRef}"/></p>

    <label>Info</label>
    <p th:text="${item.getiInfo()}"></p>

</div>

<div id="address_bar">
    <button> <a href="/customer/catalog">Back</a> </button>

    <button> <a href="/customer/cart">Cart</a> </button>
</div>


</body>
</html>