<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Manager Transaction View</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<style>
    th {
        border: 1px solid rgb(190, 190, 190);
        padding: 10px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        letter-spacing: 1px;
    }

    .navbar {
        margin-bottom: 50px;
        border-radius: 0;
    }

    .header {
        margin-bottom: 0;
    }

</style>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="/customer/catalog">Catalog</a></li>
                <li class="active"><a href="/manager/items/view">Stock View</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/customer/cart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
            </ul>
        </div>
    </div>
</nav>

<body>

<div class="header">
    <div class="container text-center">
        <h1>Transaction View</h1>
    </div>
</div>
<div align="center">
<p th:text ="${money}"></p>
<button type="button" class="btn btn-info btn-lg"> <a th:href="@{'/manager/transactions/D'}">Day</a> </button>
<button type="button" class="btn btn-info btn-lg"> <a th:href="@{'/manager/transactions/W'}">Week</a> </button>
<button type="button" class="btn btn-info btn-lg"> <a th:href="@{'/manager/transactions/M'}">Month</a> </button>


<table th:unless="${transactions.size() eq 0}">
    <thead>
    <tr>
        <th>Date</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td><p th:text ="${transaction.getDate()}"></p></td>
        <td><p th:text ="${transaction.getTotal()}"></p></td>
        <td><a th:href="@{'/manager/transactions/' + ${transaction.getIndex()}}"><button type="submit" class="btn btn-success btn-lg">View</button></a></td>
    </tr>
    </tbody>
</table>
<br>
<button type="button" class="btn btn-info btn-lg"> <a th:href="@{'/'}">Back to Index</a> </button>

        </td>
    </tr>
    </tbody>
</table>
</div>
</body>
</html>