<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Manager Transaction View</title>
    <link rel="stylesheet" th:href="@{/css/stockView.css}"/>
</head>
<body>
<p th:text ="${money}"></p>
<button> <a th:href="@{'/manager/transactions/D'}">Day</a> </button>
<button> <a th:href="@{'/manager/transactions/W'}">Week</a> </button>
<button> <a th:href="@{'/manager/transactions/M'}">Month</a> </button>

<table th:unless="${transcations.size() eq 0}">
    <thead>
    <tr>
        <th>Date</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transcations}">
        <td><p th:text ="${transaction.getDate()}"></p></td>
        <td><p th:text ="${transaction.dPrice()}"></p></td>
        <td><a th:href="@{'/manager/transactions/' + ${transaction.getIndex()}}">View</a></td>
    </tr>
    </tbody>
</table>
<button> <a th:href="@{'/'}">Back to Index</a> </button>
</body>
</html>