<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Transaction Detail</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}"/>
</head>
<body>
<h3>Order</h3>
<!--    <table th:unless="${cart.size() eq 0}">-->
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cart : ${detail}">
        <td><p th:text="${cart.getName()}"></p></td>
        <td><p th:text="${cart.getQuantity()}"></p></td>
        <td><p th:text="${cart.dPrice()}"></p></td>
    </tr>
    </tbody>
</table>
<button> <a th:href="@{'/manager/transactions'}">Back</a> </button>
</body>
</html>