<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dark Side of the Rainbow</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{'css/main.css'}">

</head>
<body>

<div th:include="layout::header"></div>

<section id="content">

    <h1>Edit Album</h1>
    <h2>Edit Existing Album in Database!</h2>

    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}">
        This is a danger alert—check it out!
    </div>
    <form action="/admin/albums/edit" method="post">
        <div class="form-group">
            <label for="albumName">Album Name</label>
            <input type="text" class="form-control" id="albumName" aria-describedby="albumNameHelp" name="albumName"
                   placeholder="Enter album name" th:value="${albumName}">
            <small id="albumNameHelp" class="form-text text-muted">What is the name of the album?</small>
        </div>
        <div class="form-group">
            <label for="albumArtist">Album Artist</label>
            <input type="text" class="form-control" id="albumArtist" aria-describedby="albumArtistHelp" name="albumArtist"
                   placeholder="Enter album artist" th:value="${albumArtist}">
            <small id="albumArtistHelp" class="form-text text-muted">What artist made the album?</small>
        </div>
        <div class="form-group">
            <label for="albumGenre">Album Genre</label>
            <input type="text" class="form-control" id="albumGenre" aria-describedby="albumGenreHelp" name="albumGenre"
                   placeholder="Enter album genre" th:value="${albumGenre}">
            <small id="albumGenreHelp" class="form-text text-muted">What is the genre of the album?</small>
        </div>
        <div class="form-group">
            <label for="albumRelease">Album Release Date</label>
            <input type="text" class="form-control" id="albumRelease" aria-describedby="albumReleaseHelp" name="albumRelease"
                   placeholder="Enter album release date" th:value="${albumRelease}">
            <small id="albumReleaseHelp" class="form-text text-muted">What was the release date of the album? Format: Month DD, YYYY</small>
        </div>
        <div class="form-group">
            <label for="albumTracks">Album Tracks</label>
            <input type="text" class="form-control" id="albumTracks" aria-describedby="albumTracksHelp" name="albumTracks"
                   placeholder="Enter number of tracks in the album" th:value="${albumTracks}">
            <small id="albumTracksHelp" class="form-text text-muted">How many tracks are in the album?</small>
        </div>
        <div class="form-group">
            <label for="albumPrice">Price</label>
            <input type="text" class="form-control" id="albumPrice" aria-describedby="albumPriceHelp" name="albumPrice" th:value="${albumPrice}">
            <small id="albumPriceHelp" class="form-text text-muted">Cost of the album?</small>
        </div>

        <input type="hidden" th:value="${albumId}" name="albumId" />
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</section>

<div th:include="layout::footer"></div>

</body>
</html>