table, th, td{
    border: 1px solid black;
  }

th{
    color: white;
    background-color: lightblue;
}

tr{
    background-color: lightgrey;
}

.table1{
    position: relative;
    top: 100px;
    left: 20px;
}

.table2{
    position: relative;
    top: 110px;
    left: 20px;
}

.table3{
    position: relative;
    top: 120px;
    left: 20px;
}

.table4{
    position: relative;
    top: -120px;
    left: 600px;
    width: 55%;
}

.button1{
    position: relative;
    top: 250px;
    left: 50px;
}

.salary{
   position: relative;
   top: 100px;
   left: 145px;
   font-size: 20px;
}

.schedule{
   position: relative;
   top: -122px;
   left: 910px;
   font-size: 20px;
   
}
